<div class="row">
  <!-- Columna Izquierda: Selección -->
  <div class="col-md-6">
    <!-- Cliente -->
    <app-form-field label="Cliente" [required]="true">
      <app-select-clientes [inputControl]="clienteId"></app-select-clientes>
    </app-form-field>
    <div class="row">
      <div class="col-md-5 col-12">
        <!-- Manzana -->
        <app-form-field label="Manzana">
          <app-select-manzanas
            [inputControl]="manzanaId"
            [proyectoId]="proyectoId"
          >
          </app-select-manzanas>
        </app-form-field>
      </div>

      <div class="col-md-7 col-12">
        <!-- Lote -->
        <app-form-field label="Lote" [required]="true">
          <app-select-lotes
            [inputControl]="loteId"
            [manzanaId]="manzanaId.value"
            (ManzanaChange)="onManzanaFromLote($event)"
          >
          </app-select-lotes>
        </app-form-field>
      </div>
    </div>
  </div>

  <!-- Columna Derecha: Detalles -->
  <div class="col-md-6">
    <div class="row">
      <div class="col-6">
        <app-form-field label="Monto Reserva" [required]="true">
          <app-input-number
            [input_control]="montoReserva"
            [input_placeholder]="'0.00'"
            [allow_decimals]="true"
            [decimal_precision]="2"
          >
          </app-input-number>
        </app-form-field>
      </div>
      <div class="col-6">
        <app-form-field label="Moneda">
          <app-select-moneda [inputControl]="moneda"></app-select-moneda>
        </app-form-field>
      </div>
    </div>

    <!-- 👇 USAMOS TU INPUT DATE -->
    <app-form-field label="Fecha de Vencimiento" [required]="true">
      <app-input-date
        [input_control]="fechaVencimiento"
        input_placeholder="Seleccionar fecha"
      >
      </app-input-date>
    </app-form-field>
  </div>
  <app-form-field label="Observaciones">
    <!-- Si tienes átomo textarea, úsalo. Sino usa nz-input -->
    <app-input-textarea
      [input_control]="observaciones"
      placeholder="Detalles adicionales..."
      [input_autosize]="true"
      [input_maxlength]="500"
    >
    </app-input-textarea>
  </app-form-field>
</div>
