<div class="container-fluid px-0 mt-3 animate-fade-in">
  
  <!-- <div class="mb-4">
    <app-filtro-lotes (cambioFiltro)="onFiltroModificado($event)"></app-filtro-lotes>
  </div> -->
  <div class="d-flex justify-content-end mb-2">
  <app-tabla-previsualizacion 
    [columnDefs]="columnas"
    (visibilityChange)="onCambiarVisibilidadColumnas($event)">
  </app-tabla-previsualizacion>
  </div>
    <app-data-table
      #tablaComponent
      [showCreate]="false"
      [columnDefs]="columnas"
      [rowData]="datos"
      [actions]="[]"
      emptyMessage="No se encontraron registros de lotes para mostrar con los filtros seleccionados."
    >
    </app-data-table>  

</div>