<div class="container-fluid px-0 mt-3 animate-fade-in">
    <app-report-filter
      [formGroup]="filterForm"
      [columnDefs]="columnas"
      [mostrarBtnLimpiar]="!!(filterForm.value.busqueda)"
      (onLimpiar)="limpiarFiltros()"
      (visibilidadColumnaChange)="onCambiarVisibilidadColumnas($event)">

      <div class="form-group-inline">
        <div class="input-icon-wrapper">
          <app-input-text
            [input_control]="getControl('busqueda')"
            icon="bi-search"
            placeholder="Buscar cliente..."            
          ></app-input-text>                    
        </div>
      </div>
    </app-report-filter>  

  <app-data-table
    #tablaComponent
    [showCreate]="false"
    [columnDefs]="columnas"
    [rowData]="datos"
    [actions]="[]"
    emptyMessage="No se encontraron registros de clientes para mostrar con los filtros seleccionados."
  >
  </app-data-table>

</div>
