<div class="row">
  <!-- COLUMNA IZQUIERDA -->
  <div class="col-lg-6 col-md-12">
    <!-- Card: Identificación -->
    <app-card-container title="Identificación">
      <div class="row">
        <div class="col-md-6 mb-3">
          <app-form-field label="Nombre Completo" [required]="true">
            <app-input-text
              [input_control]="NombreCompleto"
              input_placeholder="Juan Pérez"
            >
            </app-input-text>
          </app-form-field>
        </div>

        <div class="col-md-6 mb-3">
          <app-form-field label="Nro. Documento" [required]="true">
            <app-input-text
              [input_control]="NroDocumento"
              input_placeholder="1234567"
            >
            </app-input-text>
          </app-form-field>
        </div>

        <div class="col-md-4 mb-3">
          <app-form-field label="Tipo Doc." [required]="true">
            <!-- Usamos app-select-data para datos estáticos (Enums) -->
            <app-select-document-type
              [inputControl]="TipoDocumento"
              [placeholder]="'Seleccione'"
            >
            </app-select-document-type>
          </app-form-field>
        </div>

        <div class="col-md-4 mb-3">
          <app-form-field label="Complemento">
            <app-input-text
              [input_control]="Complemento"
              input_placeholder="SC"
            >
            </app-input-text>
          </app-form-field>
        </div>

        <div class="col-md-4 mb-3">
          <app-form-field label="Nro. Referencia">
            <app-input-text
              [input_control]="NumeroReferencia"
              input_placeholder="REF-001"
            >
            </app-input-text>
          </app-form-field>
        </div>
      </div>
    </app-card-container>

    <!-- Card: Datos Personales -->
    <app-card-container title="Datos Personales">
      <div class="row">
        <div class="col-md-6 mb-3">
          <app-form-field label="Género" [required]="true">
            <app-select-gender
              [inputControl]="Genero"
              [placeholder]="'Seleccione'"
            >
            </app-select-gender>
          </app-form-field>
        </div>

        <div class="col-md-6 mb-3">
          <app-form-field label="Fecha Nacimiento">
            <!-- Usamos NZ DatePicker envuelto en form-field (ya que no hay átomo propio) -->
            <app-input-date
              [input_control]="FechaNacimiento"
              input_placeholder="Seleccione fecha"
            >
            </app-input-date>
          </app-form-field>
        </div>
      </div>
    </app-card-container>
  </div>

  <!-- COLUMNA DERECHA -->
  <div class="col-lg-6 col-md-12">
    <app-card-container title="Contacto y Ubicación">
      <div class="row">
        <div class="col-md-6 mb-3">
          <app-form-field label="Teléfono">
            <app-input-text
              [input_control]="Telefono"
              input_placeholder="71234567"
            >
            </app-input-text>
          </app-form-field>
        </div>

        <div class="col-md-6 mb-3">
          <app-form-field label="Email">
            <app-input-text
              [input_control]="Email"
              input_placeholder="correo@ejemplo.com"
            >
            </app-input-text>
          </app-form-field>
        </div>

        <div class="col-12 mb-3">
          <app-form-field label="Dirección">
            <app-input-textarea
              [input_control]="Direccion"
              input_placeholder="Av. Principal #123"
            >
            </app-input-textarea>
          </app-form-field>
        </div>
      </div>
    </app-card-container>
  </div>
</div>
