// Estilos para la tabla de carga masiva
.urban-row-excepcion {
  background-color: #f8f9fa !important;
  font-style: italic;
}

.urban-row-manzana {
  background-color: #ffffff !important;
  font-weight: 500;
}
