<app-page-container
  [title]="'Carga Masiva de Manzanas y Lotes '+ projectName"
  [loading]="loading"
  [showCustom]="true"
  customLabel="Agregar Manzana"
  [customIcon]="'bi bi-plus-lg'"
  (CustomAction)="addManzanaRow('', '')"
  [showSave]="true"
  (Save)="guardarEstructuraMasiva()"
  [showOptions]="false"
  [showCancel]="true"
>

    <ag-grid-angular
      style="width: 100%; height: 60vh"
      class="ag-theme-alpine"
      [rowData]="gridRowData"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowClassRules]="rowClassRules"
      [stopEditingWhenCellsLoseFocus]="true"
      (gridReady)="onGridReady($event)"
      (cellValueChanged)="onCellValueChanged($event)"
    >
    </ag-grid-angular>    
</app-page-container>
