<div class="container-fluid px-0 mt-3 animate-fade-in">
  
    <app-report-filter
      [formGroup]="filterForm"
      [columnDefs]="columnas"
      [mostrarBtnLimpiar]="!!(filterForm.value.fechaInicio || filterForm.value.fechaFin || filterForm.value.estado)"
      (onLimpiar)="limpiarFiltros()"
      (visibilidadColumnaChange)="onCambiarVisibilidadColumnas($event)">
      <div class="row w-100">
        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-2 mb-md-0">
          <app-form-field label="Fecha Inicio">
            <app-input-date [input_control]="getControl('fechaInicio')"></app-input-date>
          </app-form-field>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-2 mb-md-0">
          <app-form-field label="Fecha Fin">
            <app-input-date [input_control]="getControl('fechaFin')"></app-input-date>
          </app-form-field>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
          <app-form-field label="Estado de Venta">
            <app-select-data 
              [itemList]="estadosVentaOptions" 
              bindValue="value" 
              bindLabel="label"
              [inputControl]="getControl('estado')" 
              placeholder="Todos los estados" 
              [searchable]="false">
            </app-select-data>
          </app-form-field>
        </div>
      </div>
    </app-report-filter>

  <app-data-table
    #tablaComponent
    [showCreate]="false"
    [columnDefs]="columnas"
    [rowData]="datos"
    [actions]="[]"
    emptyMessage="No se encontraron registros de ventas para mostrar con los filtros seleccionados."
  >
  </app-data-table>

</div>
