<nz-select
  nzShowSearch
  nzAllowClear
  [nzPlaceHolder]="placeholder"
  [(ngModel)]="selectedValue"
  (ngModelChange)="onValueChange($event)"
  (nzOnSearch)="onSearch($event)"
  (nzScrollToBottom)="loadMore()"
  [nzServerSearch]="serverSearch"
  [nzDisabled]="disabled"
  [nzSize]="size"
  style="width: 100%"
>
  <nz-option
    *ngFor="let option of filteredOptions"
    [nzValue]="option[valueField]"
    [nzLabel]="getOptionLabel(option) || ''"
    [nzDisabled]="option.disabled ?? false"
  >
  </nz-option>
  <nz-option *ngIf="loading" nzDisabled nzCustomContent>
    <span nz-icon nzType="loading" class="loading-icon"></span>
    Cargando...
  </nz-option>
</nz-select>
