<div class="container-fluid px-0 mt-3 animate-fade-in">

  <app-report-filter [formGroup]="filterForm" [columnDefs]="columnas"
    [mostrarBtnLimpiar]="!!(filterForm.value.manzanaCodigo || filterForm.value.estado)" (onLimpiar)="limpiarFiltros()"
    (visibilidadColumnaChange)="onCambiarVisibilidadColumnas($event)">
    <div class="row w-100">
      <div class="col-12 col-sm-6 col-md-5 col-xl-4 mb-2 mb-sm-0">
        <app-form-field label="Manzana">
          <app-select-manzanas
            [inputControl]="getControl('manzanaCodigo')"
            [bindValue]="'codigo'"
            placeholder="Seleccionar Manzana">
          </app-select-manzanas>
        </app-form-field>
      </div>

      <div class="col-12 col-sm-6 col-md-5 col-xl-4">
        <app-form-field label="Estado Comercial">
          <app-select-data [itemList]="estadosOptions" bindValue="value" bindLabel="label"
            [inputControl]="getControl('estado')" placeholder="Todos los estados" [searchable]="false">
          </app-select-data>
        </app-form-field>
      </div>
    </div>

  </app-report-filter>

  <app-data-table #tablaComponent [showCreate]="false" [columnDefs]="columnas" [rowData]="datos" [actions]="[]"
    emptyMessage="No se encontraron registros de lotes para mostrar con los filtros seleccionados.">
  </app-data-table>

</div>