<app-page-container
  title="Gestión de Clientes"
  permissionScope="clientes"
  [showNew]="true"
  (AddNew)="onAddNew()"
>
  <app-data-table-server
    [rowData]="clientes"
    [columnDefs]="columnDefs"
    [loading]="loading"
    [pageSize]="limit"
    [totalRecords]="totalRecords"
    [showCreate]="false"
    [actions]="[
      tableActionEnum.EDIT,
      tableActionEnum.UPLOAD_PHOTO,
      tableActionEnum.REMOVE_IMAGE,
      tableActionEnum.DEACTIVATE,
      tableActionEnum.ACTIVATE,
      tableActionEnum.INFO,
    ]"
    (actionClicked)="onTableAction($event)"
    (filterChanged)="onTableFilterChanged($event)"
    (pageChange)="loadClientes($event)"
  >
  </app-data-table-server>
</app-page-container>
