<app-modal-container
  #modal
  [mainTitleModal]="loteData ? 'Editar Lote' : 'Registrar Lote'"
  (onSaveAction)="SaveLote.emit()"
  (onCancelAction)="modal.activeModal.close()"
>
  <form nz-form [formGroup]="loteForm" nzLayout="vertical">
    <div class="row">
      <div class="col-12 col-md-12 mt-2">
        <app-form-field label="Manzana" [required]="true" forId="manzanaId">
          <app-input-text
            formControlName="manzanaId"
            input_placeholder="ID de la manzana"
          >
          </app-input-text>
        </app-form-field>
      </div>
      <div class="col-md-6">
        <app-form-field
          label="Número de Lote"
          [required]="true"
          forId="numLote"
        >
          <app-input-number
            [input_control]="numero"
            input_placeholder="Ej. 15"
          >
          </app-input-number>
        </app-form-field>
      </div>
      <div class="col-md-6">
        <app-form-field label="Área (m²)" [required]="true" forId="areaM2">
          <app-input-number
            [input_control]="areaM2"
            [allow_decimals]="true"
            input_placeholder="0"
          >
          </app-input-number>
        </app-form-field>
      </div>
      <div class="col-md-12">
        <app-form-field label="Precio Referencial (Bs)" forId="precioRef">
          <app-input-number
            [input_control]="precioReferencial"
            [allow_decimals]="true"
            input_placeholder="0"
          >
          </app-input-number>
        </app-form-field>
      </div>
      <div class="col-md-12">
        <app-form-field label="Observaciones" forId="observaciones">
          <textarea nz-input formControlName="observaciones" placeholder="Observaciones del lote" [nzAutosize]="{ minRows: 2, maxRows: 4 }"></textarea>
        </app-form-field>
      </div>
      @if(loteData){
      <div class="col-md-12">
        <app-form-field label="Estado" forId="estadoLote">
          <nz-select formControlName="estado">
            <nz-option nzValue="DISPONIBLE" nzLabel="Disponible"></nz-option>
            <nz-option nzValue="RESERVADO" nzLabel="Reservado"></nz-option>
            <nz-option nzValue="VENDIDO" nzLabel="Vendido"></nz-option>
            <nz-option nzValue="BLOQUEADO" nzLabel="Bloqueado"></nz-option>
          </nz-select>
        </app-form-field>
      </div>
      }
    </div>
  </form>
</app-modal-container>