<div class="container-fluid px-0 mt-3 animate-fade-in">
    
    <app-report-filter
      [formGroup]="filterForm"
      [columnDefs]="columnas"
      [mostrarBtnLimpiar]="!!(filterForm.value.fechaInicio || filterForm.value.fechaFin)"
      (onLimpiar)="limpiarFiltros()"
      (visibilidadColumnaChange)="onCambiarVisibilidadColumnas($event)">

      <div class="form-group-inline">
        <app-form-field label="Fecha Inicio">
          <app-input-date 
            [input_control]="getControl('fechaInicio')">
          </app-input-date>
        </app-form-field>
      </div>
      
      <div class="form-group-inline">
        <app-form-field label="Fecha Fin">
          <app-input-date 
            [input_control]="getControl('fechaFin')">
          </app-input-date>
        </app-form-field>
      </div>

    </app-report-filter>  
    <app-data-table
      #tablaComponent
      [showCreate]="false"
      [columnDefs]="columnas"
      [rowData]="datos"
      [actions]="[]"
      emptyMessage="No se encontraron registros de reservas para mostrar con los filtros seleccionados."
    >
    </app-data-table>  

</div>