//==============================================================
//=============== COLORES PERSONALIZADOS =====================
//==============================================================
:root {
    --success_color: #4caf50;
    --warning_color: #ff9800;
    --danger_color: #f44336;
    --paused_color: #0D6EFD;
    --revised_color: #F96902;
    --empty_color: #666666;
}