<div class="urban-modal-wrapper">
  <div appDragModal class="modal-header d-flex align-items-center justify-content-between">
    <div>
      <h4 class="modal-title mb-0">{{ mainTitleModal }}</h4>
      @if (subtitle) {
        <small class="text-muted">{{ subtitle }}</small>
      }
    </div>
    <button type="button" class="btn-close-custom" (click)="activeModal.dismiss()">
      <span nz-icon nzType="close" nzTheme="outline"></span>
    </button>
  </div>

  <div class="modal-body">
    <ng-content></ng-content>
  </div>

  @if (showFooter) {
    <div class="modal-footer bg-light-gray">
      <button nz-button nzType="default" class="btn-rounded" (click)="onCancelAction.emit()">
        <span nz-icon nzType="close-circle"></span> {{ cancelButtonName }}
      </button>
      
      <button nz-button nzType="primary" class="btn-rounded shadow-sm" 
              [nzLoading]="loading" (click)="onSaveAction.emit()">
        <span nz-icon [nzType]="saveButtonIcon"></span> {{ saveButtonName }}
      </button>
    </div>
  }
</div>