<app-page-container
  title="Gestión de Asesores"
  permissionScope="asesores"
  [showNew]="true"
  (AddNew)="onAddNew()"
>

  <!-- Tabla -->
  <!-- 
    IMPORTANTE: No ponemos [serverSide]="true".
    Como el backend devuelve un array simple, el tabla funcionará en modo cliente,
    paginando y ordenando los datos que le pasamos automáticamente.
  -->
  <app-data-table
    [rowData]="asesores"
    [columnDefs]="columnDefs"
    [loading]="loading"
    [showCreate]="false"
    [actions]="[
      tableActionEnum.EDIT,
      tableActionEnum.DEACTIVATE,
      tableActionEnum.ACTIVATE,
      tableActionEnum.INFO,
    ]"
    (actionClicked)="onTableAction($event)"
    (filterChanged)="onTableFilterChanged($event)"
  >
  </app-data-table>
</app-page-container>
